* {
    margin: 0;
    padding: 0;
}
 
#container {
    margin: 0 auto;
    margin-top: 40px;
    padding: 30px;
    min-width: 300px;
    max-width: 60vw;
    min-height: 80vh;
    border-radius: 10px;
    box-shadow: 20px 10px 20px black,
                -20px -2px 10px black,
                -15px -10px 15px darkgray;
}
#container label {
    padding-right: 20px;;
}

#container span input {
    height: 25px
}
#prompt {
   display: flex;
   justify-content: center;
   align-items: center;
}
#prompt button {
    padding: 8px;
    margin-left: 10px;
    transition: .5s all ease-in-out;
}
button:hover {
    color: white;
    background-color: black;;
}
.meaning {
    margin-bottom: 10px;
    padding: 15px 25px 10px 25px;
    border-bottom: 1px solid gray;
}
.definition, .example, .partOfSpeech {
    margin-bottom: 10px;
}
.partOfSpeech span {
    font-style: italic;
}